* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  /* border: 1px red solid; */
}

.content {
  height: 100vh;
  background-image: url(./assets/clear.jpg);
  background-position: center center;
  background-size: cover;
  transition: opacity 0.55s;
}

.content > * {
  transition: opacity 0.55s;
}
